@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),
        url("../fonts/montserrat-regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat"),
        url("../fonts/montserrat-medium.woff") format("woff");
    }

body {
    font-family: "Montserrat", "Verdana", sans-serif;
    font-style: normal;
    background: #EFE6E4;

    }   

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    border-style: none;
} 

.page-head {
    /* display: flex; */
    background: url("/fon/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    padding-top: 20px;
}

.logo {
    margin-right: 15px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu-item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #533738;
    margin: 50px 20px;
    /* padding: 13px; */
}

.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #533738;  
    margin-left: 15px;
}

.container-tittle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.promo {
    font-weight: 400;
    color: #533738;
    display: flex;
    flex-direction: column;
    width: 72%;
    margin-top: 60px;
    margin-bottom: 175px;
}

.promo h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px; 
    width: 535px;   
}

.promo p {
    font-size: 18px;
    line-height: 30px;
    width: 495px;
}

.promo-button {
    background: #CC8B86;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    padding: 25px 65px;
    width: 310px;
    box-sizing: border-box;
}
   
.section-head {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
}

.company {
    margin-top: 43px;
}

.container-company {
    display: grid;
    grid-template-columns: auto 445px 528px auto;
    gap: 40px 64px;
}

.container-company .section-head {
   grid-column: 2 / 4;
   justify-self: center;
   margin: 0;
}

.company-img {
    grid-column: 2 / 3;
    width: 100%;
}

.company-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.achievements {
    background: #8D7370;
    color: #FFFFFF; 
}

.container-achievements {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 20px;
}

.container-achievements ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.achievement {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;  
    text-align: center;
}

.achievement span {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    display: block;
}

.works .section-head {
    margin-left: 10%;
}

.container-works {
    display: grid;
    grid-template-columns: auto 488px 204px 488px auto;
    grid-template-rows: 451px 451px;
    gap: 30px 20px;
}

.container-works img {
    width: 100%;
    height: 100%;
}

.work {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: url("/fon/image55.jpg");
    background-repeat: no-repeat;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    /* box-sizing: border-box; */
}

.img-one {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.img-two {
    grid-column: 2 / 4; 
    grid-row: 2 / 3;
}

.img-three {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}


.workbutton {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.work-button {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #533738;
    background: #EFE6E4;
}

.work h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin: 86px 109px 0 109px;
}

.work p {
    margin-left: 35px;
    margin-right: 35px;
    text-align: start;
}

.team, .howwork {
    background: #E2C4BA;
}

.team {
    padding-top: 50px;
}

.team .section-head {
    text-align: center;
    margin: 0 0 30px 0;
}

.container-team {
    display: flex;
    justify-content: center;
}

.team-memb {
    width: 320px;
}

.team-memb:nth-child(2) {
    margin-left: 38px;
    margin-right: 38px;
}

.team-memb p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.howwork .section-head {
    margin: 0 0 40px 0;
    text-align: center;
}

.container-howwork ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.work-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #533738;
    width: 285px;
    padding-bottom: 80px;
}

.work-item span {
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    background: url("/fon/image55.jpg");
    background-position: center center;
    margin: auto;
    margin-bottom: 20px;
}

.reviews .section-head {
    text-align: center;
}

.container-reviews {
    display: grid;
    grid-template-columns: auto 407px 407px auto;
    gap: 24px 20px;
    align-items: center;
}

.text-review {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.image-review {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.reviews-button {
    background: #EFE6E4;
}

.order, .order-contact input {
    background: #8D7370;
}

.container-order {
    display: flex;
    justify-content: center;
}

.order-form {
    display: flex;
    flex-wrap: wrap;
    width: 508px;
    flex-direction: column;
}

.order-head {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.order-form p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF; 
}

.order-contact input {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;  
    width: 95%;
}

.container-footer {
    display: flex;
    margin-top: 37px;
    margin-bottom: 37px;
    justify-content: space-around;
    align-items: center;
}

.footer-contacts span {
    padding: 42px;
}